footer {
	border-top: 2px solid #fe6c90;
	padding: 2%;
	column-count: 2;
}


footer p {
	margin: 0.2em 0 0.2em 0;
}

footer a {
	padding: 0%;
	font-size: 250%;
	line-height: 70%;

}

footer a:hover {
	text-decoration:none;
}